@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
body{ margin: 0;
    background: #19191B;}

/*         SECTION 1          */
#section-1>header>.logo>img{width: 20%;
}
#section-1{
    height: 75vh;
}
#section-1>header>.logo>span{
    color: #FFF;
    font-family: Lato;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 39.2px */
}
#section-1>header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 3vh;

}
#section-1>header>nav>.home{
    color: #5454D4;
    text-align: right;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.5px;
    text-decoration: none;
}
#section-1>header>nav>a{
    color: rgba(255, 255, 255, 0.70);
    text-align: right;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}
nav{
    width: 25vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#section-1>header>button{
    border-radius: 5px;
    border: 1px solid #FFF;
    backdrop-filter: blur(1px);
    background: #19191B;
    color: #FFF;
    width: 10vw;
    height: 3vw;
    text-align: center;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.5px;
}

main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 5vh;


}
#section-1>main>img{
    width:  45vw;

}
#section-1>main>div>h3{
    color: #FFF;
    font-family: Lato;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 84px; /* 105% */
}
#section-1>main>div>span{
    color: rgba(255, 255, 255, 0.70);
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 39px; /* 185.714% */
    letter-spacing: -0.657px;
}
#section-1>main>div>button{color: #FFF;
    font-family: Lato;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    height: 5vh;
    width: 14vw;
    border-radius: 4px;
    background: #5454D4;
    text-align: start;
padding-left: 2vw;
    margin-top: 5vh;
}
#section>main>div{
    display: flex;
    justify-content: space-around;
    align-items: start;
    width: 55vw;

}








/*            section 2                */

#section-2{ margin-right: 9vw;
    margin-left: 9vw;
    margin-bottom: 5vh;
    background: #19191B;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
#section-2>.first-block>h3{
    color: #FFF;
    font-family: Lato;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
}
#section-2>.first-block>span{
    color: rgba(255, 255, 255, 0.70);
    font-family: Lato;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.657px;
    margin-bottom: 3vh;
}
.first-block { display: flex;
    justify-content: space-between;
    align-items:center ;
height: 30vh;
width: 80vw;
}

#section-2>img{
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*             section 3            */

#section-3{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

#section-3>h3{
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px;
}
#section-3>main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 70vh;
    width: 80vw;

}
#section-3>main>.box{
    width: 22vw;
    height: 22vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
#section-3>main>.box>.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#section-3>main>.box>h5{
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.75px;
    margin-top: 3vh;
}
#section-3>main>.box>span{
    color: rgba(255, 255, 255, 0.70);
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 140% */
    letter-spacing: -0.5px;

}








/*               section 4              */
#section-4{
    margin-bottom: 5vh;
    margin-right: 9vw;
    margin-left: 15vh;
    margin-top: 10vh;
    height: 90vh;

}
#section-4>div{
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#section-4>div>img{
    width: 25vw;
}
#section-4>h3{
    color: #FFF;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

/*      footer   */



footer{
    height: 60vh;

}
footer>.contact{
    height: 50vh;
    background: rgba(30, 30, 32, 0.50);
    width: 100%;
display: flex;
align-items: center;
justify-content: space-around;}

    footer>.contact>h3{
        color: #FFF;
        font-family: Lato;
        font-size: 45px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
footer>.contact>button{
border-radius: 5px;
background: #5454D4;
    width: 20%;
    height: 13%;
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
footer>#logo>.logo>span{color: #FFF;
    font-family: Lato;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;

}
footer>#logo>span{color: rgba(255, 255, 255, 0.70);
    text-align: right;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px; /* 237.5% */
    letter-spacing: -0.5px;
margin-right: 7vw;
    }

footer>#logo{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-left: 7vw;
 margin-top: 3vh;
}

footer>#logo>.logo>img{
    width: 35%;
}
footer>#logo>.logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}